header {
    display: flex;
    color: white;
    background: black;
    
    img {
        margin: 15px 30px;
    }

    nav {
        flex: 1;
    }
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type:none;
        height: 100%;
        margin: unset;
        padding: unset;

        li {
            text-align: center;
            min-width: 90px;
            a {
                min-width: 90px;
                padding: 20px;
            }
        }
    }

    .link{
        font-size: 24px;
        color: white;
        text-decoration: none;
    }
  }