.hello-msg {
    font-size: 48px;
    font-weight: 500;
    margin: unset;
    @media(max-width: 1280px) {
        font-size: 42px;
    }
}

.firstname {
    color: #FF0000;
}

.support-msg {
    font-size: 18px;
}