.nav-icon {
    display: flex;
    justify-content: center;
    aspect-ratio: 1 / 1;
    max-width: 64px;
    border-radius: 6px;
}

.small-icon {
    padding: 16px;
}

.medium-icon {
    padding: 21px;
}